



OPENAI_MODEL=gpt-4o-mini
OPENAI_API_KEY=sk-your-openai-api-key
OPENAI_BASE_URL=



SEARXNG_URL=:8080/search




CRAWL4AI_URL=





DEEP_AGENT_DB_HOST=
DEEP_AGENT_DB_PORT=5433
DEEP_AGENT_DB_USER=postgres
DEEP_AGENT_DB_PASSWORD=root
