### .env file for DeepAgent  ###

# Responsibility:
#- env variables

#TODO:
#- add more models names to the list

# ── LLM: Remote Ollama API ────────────────────────────────────────────────────
QUEN_MODEL=qwen3:8b
MISTRAL_MODEL= mistral-small3.2:latest

MODEL_API_KEY=
MODEL_BASE_URL=

# ── Web Research API (remote SearXNG + Crawl4AI) ──────────────────────────────
WEB_RESEARCH_BASE_URL=
WEB_RESEARCH_API_KEY=

# ── PostgreSQL ────────────────────────────────────────────────────────────────
DEEP_AGENT_DB_HOST=127.0.0.1
DEEP_AGENT_DB_PORT=5433
DEEP_AGENT_DB_USER=postgres
DEEP_AGENT_DB_PASSWORD=

# ── APP ────────────────────────────────────────────────────────────────

APP_PORT=8011
SCRAPED_IN_ONE_TIME=3
SearXNG_max_url=1


# ── test ────────────────────────────────────────────────────────────────

LANGSMITH_API_KEY=
LANGSMITH_TRACING=true
LANGSMITH_PROJECT=course-generation
