# Environment


.env
.env.*
!.env.example

# Python
__pycache__/
*.py[cod]
*$py.class


# Test & coverage
.pytest_cache/
.coverage
htmlcov/

# Type checkers
.mypy_cache/
.pyre/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db